.background {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 80%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt {
  font-family: JejuHallasan;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.option {
  background-color: #03a7b2bf; /* Dark teal background */
  color: white;
  font-family: JejuHallasan;
  font-size: 24px;
  font-weight: bold;
  border: 10px solid white;
  border-radius: 30px;
  padding: 20px 40px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
}

.container {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  background-color: #03a7b2;
  box-shadow: 0px 15px 10px 0px #03a7b2 inset;
  border-radius: 50px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff7d6;
  box-shadow: 0px 14.06px 9.37px 0px #03a7b2 inset;
  border-radius: 46.85px;
  height: 90%;
  width: 90%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt {
  font-family: JejuHallasan;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.input-container {
  width: 200px;
}

.styled_input {
  width: 100%;
  height: 50px;
  border: 4px solid white;
  border-radius: 20px; /* Rounded corners */
  background-color: #03a7b2bf; /* Teal background inside */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  padding: 0 15px; /* Inner padding */
  font-size: 16px; /* Adjust font size */
  color: white; /* Text color */
  outline: none; /* Remove focus outline */
  box-sizing: border-box; /* Include border and padding in width */
}

/* Placeholder text styling */
.styled-input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* White placeholder with reduced opacity */
}

/* Hover effect */
.styled-input:hover {
  background-color: #03a7b2bf; /* Slightly darker teal on hover */
}

/* Focus effect */
.styled-input:focus {
  border-color: #ffffff; /* Ensure white border stays visible */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Glow effect */
}
