/* General leaderboard styles */
.leaderboard {
    background-color: #f9eac8; /* Light beige */
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;;
    height: 80%;
    background-color: #03A7B2;
    box-shadow: 0px 15px 10px 0px #03A7B2 inset;
    border-radius: 50px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    background: #FFF7D6;
    box-shadow: 0px 14.06px 9.37px 0px #03A7B2 inset;
    border-radius: 46.85px;
    display: flex;
    height: 90%;
    width: 90%;
    padding: 16px;
}

.leaderboard_title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #FFFFFF;
    background: #EEBE1491;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
}

/* Leaderboard list styles */
.leaderboard_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Individual item styles */
.leaderboard_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9fc7c4; /* Teal background */
    border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaderboard_item.top_player {
    background-color: #366a6a; /* Darker teal for the top player */
}

.rank_section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.rank {
    font-size: 18px;
    font-weight: bold;
}

.medal {
    width: 20px;
    height: 20px;
}

.name_section {
    font-size: 18px;
    font-weight: bold;
}

.score_section {
    font-size: 18px;
    background-color: #366a6a; /* Dark teal */
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
